
html, body, #root { height: 100%; margin: 0; background: #0b0c10; }
.grid6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;   /* 3 colunas */
  grid-template-rows: 1fr 1fr;          /* 2 linhas */
  gap: 6px;
  height: 100vh;
  width: 100vw;
  padding: 6px;
  box-sizing: border-box;
}
.tile {
  width: 100%;
  height: 100%;
  border: 1px solid #222;
  background: #111;
}
