
services:
  server:
    build: ./server
    environment:
      - NODE_ENV=production
      - CLIENT_SECRET=${CLIENT_SECRET}
    ports:
      - "5300:5300"
  client:
    build: ./client
    environment:
      - VITE_API_BASE=http://server:5300
      - VITE_REPORT_ID=${REPORT_ID}
      - VITE_PAGE_1=${PAGE_1}
      - VITE_PAGE_2=${PAGE_2}
      - VITE_PAGE_3=${PAGE_3}
      - VITE_PAGE_4=${PAGE_4}
      - VITE_PAGE_5=${PAGE_5}
      - VITE_PAGE_6=${PAGE_6}
    ports:
      - "3000:80"
    depends_on:
      - server
